Server:
  Host: 0.0.0.0
  Port: 8000
  SessionTTL: 86400
  ReadTimeout: 60
  WriteTimeout: 60
  ShutdownTimeout: 5
  InsecureSkipVerify: false

Redis:
  Addr: redis:6379
  Password: ""
  DB: 0

ElasticSearch:
  Url: http://elasticsearch:9200
  Username: ""
  Password: ""

Audit:
  LoginAuditIndex: gremote-login
  RecordAuditIndex: gremote-record

S3:
  Endpoint: minio:9000
  AccessKeyID: ""
  SecretAccessKey: ""
  UseSSL: false
  Bucket: gremote

Guacd:
  Host: guacd
  Port: 4822
  RecordingPath: /opt/recordings
  GuacdPath: /recordings
  DefaultWidth: 1024
  DefaultHeight: 768
  DefaultDPI: 96
  SessionTimeout: 86400

GuacWorker:
  URL: http://guac-worker:8080
  Timeout: 300

Logger:
  Filename: ./log/gremote.log
  MaxSize: 10
  MaxBackups: 5
  MaxAge: 7
