# Redis
REDIS_ADDR=redis:6379
REDIS_PASSWORD=

# Elasticsearch
ES_URL=http://elasticsearch:9200

# MinIO / S3
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=gwebssh

# Backend
SERVER_PORT=8000
